<h1>These are a list of all the cars</h1>

<h2>Enter a new car into the database</h2>

<form action="">
	<div>
		Year: <input type="text" name="year">
	</div>
		<div>
		Make: <input type="text" name="make">
	</div>
		<div>
		Model: <input type="text" name="model">
	</div>
		<div>
		Color: <input type="text" name="color">
	</div>
	<form ></form>
</form>

<p><%= @all_cars %></p>
